/*-------------------------
  # Preloader
-------------------------*/
.ic-preloader{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: #fff;
  z-index: 999999;
}
.loading-wrapper {
  position: absolute;
  top:50%;
  left:50%;
  @include translate(-50%, -50%);
}
.ic-preloader-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ic-preloader-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $p_color;
  animation: ic-preloader-grid 1.2s linear infinite;
}
.ic-preloader-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.ic-preloader-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.ic-preloader-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.ic-preloader-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.ic-preloader-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.ic-preloader-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.ic-preloader-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.ic-preloader-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.ic-preloader-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes ic-preloader-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
