/*-------------------------
  # Product
-------------------------*/
.ic-product{
   .ic-product-mobile-search{
      display: none;

      @media #{$max991} {
         display: block;
         margin-bottom: 30px;
      }

      .ic-widget-title {
         text-transform: uppercase;
         color: #D23B3B;
         margin-bottom: 20px;
      }
   }
}
.ic-product-slider{
   overflow: hidden;
   .owl-stage-outer{
      padding: 1rem 0;
   }
   @media #{$max767} {
      margin: 0;
   }
}

/*------- * Product slider head -------*/
.ic-product-slider-head {
   @include flexbox();
   @include justify-content(space-between);
   margin-bottom: 30px;

   .ic-mobile-select-dropdown-wrap{
      display: none;

      @media #{$max991} {
         display: block;
      }
   }

   .ic-product-slider-nav {
      @include flexbox();
      @media #{$max767} {
         display: none;
      }

      .ic-product-nav-right,
      .ic-product-nav-left {
         height: 5rem;
         width: 5rem;
         border-radius: 100%;
         border: 1px solid #eddddd;
         line-height: 5rem;
         text-align: center;
         font-size: 22px;
         margin-left: 2rem;
         color:$p_color;
         cursor: pointer;
         @include transition();
         &:hover{
            background:$p_color ;
            color:#fff;
            border:1px solid $p_color;
         }
         @media #{$max575} {
            height: 4rem;
            width: 4rem;
            line-height: 4rem;
         }
      }
      .ic-product-nav-left{
         margin-left: 0;
      }
   }
   @media #{$max1199} {
      &.style-two{
         @include flex-direction(column);
         @include align-items(center);
         .ic-product-filter{
            margin-bottom: 2rem;
         }
      }
   }
}
.ic-product-sldier-nav.nav-tabs{
   margin-bottom: 0;
   border-bottom:none;
   @media #{$max767} {
      @include justify-content(center);
   }
   li{
      margin-bottom: 0;
      margin-right: 2rem;

      a.nav-link{
         color:$p_color;
         border: 1px solid #FEEBEB;
         border-top-left-radius: 3rem;
         border-top-right-radius: 3rem;
         &:hover{
            @include translateY(0);
            box-shadow: none;
            color:#fff;
         }
         &.active{
            background: $p_color;
            color:#fff
         }
         @media #{$max767} {
            min-width: 14rem;
            padding: 0 1rem;
         }

      }
      &:last-child{
         margin-right: 0;
      }
   }
}
.ic-product-items{
   margin: 0 10px;
}

/*------- * Product item -------*/
.ic-product-item{
   background: #fff;
   @include transition();
   border:1px solid #fafafa;
   margin-bottom: 3rem;
   overflow: hidden;
   .ic-product-thumbnail{
      img{
         width:100%;
      }
   }
   .ic-product-content {
      padding: 4rem 2rem;
      text-align: center;
      position: relative;
      .ic-product-item-action{
         @include flexbox();
         @include justify-content(center);
         position: absolute;
         left: 0;
         top: 50%;
         width: 100%;
         padding: 0 4rem;
         opacity: 0;
         visibility: hidden;
         @include translateY(-5rem);
         @include transition();
         @media #{$max991} {
            padding: 0 2rem;
         }
         .ic-custom-btn-rvs{
            line-height: 4.2rem;
            cursor: pointer;
            &:hover{
               @include translateY(0);
            }
         }
         .ic-product-wishlist,
         .ic-product-quickview{
            width:4.4rem;
            height: 4.4rem;
            line-height: 4.4rem;
            border:1px solid $p_color;
            border-radius: 100%;
            text-align: center;
            color:$p_color;
            display: inline-block;
            margin-left: 1rem;
            i{
               font-size: 2.4rem;
               line-height: 4.4rem;
            }
            &:hover{
               background: $p_color;
               color:#fff;
               box-shadow: $button_shadow;
            }
         }
      }
      .ic-product-item-dec{
         ul{
            list-style: none;
            li{
               display: inline-block;
               color: $p_color;
               margin: 0 .5rem;
               position: relative;
               line-height: 2.2rem;
               text-transform: uppercase;
               &:not(:last-child):before{
                  background-color: $p_color;
                  content: "";
                  height: 2px;
                  position: absolute;
                  right: -10px;
                  top: 9px;
                  width: 6px;
               }
            }
         }
      }
      .ic-product-item-title{
         font-size:2.4rem;
         line-height: 3.6rem;
         margin-bottom: 0;
         a{
            color:$t_color;
            &:hover{
               color:$p_color;
            }
         }
         @media #{$max480} {
            font-size:2rem;
            line-height: 3rem;
         }
      }
      .ic-product-item-price{
         font-size:2.4rem;
         line-height: 3rem;
         margin-bottom: 0;
         @media #{$max480} {
            font-size:2rem;
            line-height: 3rem;
         }
      }
      .ic-product-content-inner{
         @include transition();
      }
   }
   &:hover{
      box-shadow: $black_shadow;
      .ic-product-item-action {
         @include translateY(-50%);
         opacity: 1;
         visibility: visible;
      }
      .ic-product-content-inner{
         @include translateY(5rem);
         opacity: 0;
         visibility: hidden;
      }
   }
}

/*------- * Success Modal -------*/
#ic-success-cart{
   .modal-dialog {
      max-width: 100%;
      .modal-content {
         background: transparent ;
         border:none;
      }
   }
   .ic-success-cart-content{
      background: #fff;
      padding: 4rem;
      border-radius: 3rem;
      .ic-success-message{
         font-size: 3rem;
         line-height: 3rem;
         font-weight: 900;
         color:$p_color;
         margin-bottom: 4rem;
      }
      .ic-product-item-dec{
         ul{
            list-style: none;
            line-height: 2rem;
            li{
               display: inline-block;
               color: $p_color;
               margin: 0 .5rem;
               position: relative;
               line-height: 2.2rem;
               text-transform: uppercase;
               &:not(:last-child):before{
                  background-color: $p_color;
                  content: "";
                  height: 2px;
                  position: absolute;
                  right: -10px;
                  top: 9px;
                  width: 6px;
               }
               &:first-child{
                  margin-left: 0;
               }
            }
         }
      }
      .ic-product-item-title{
         font-size:2.4rem;
         line-height: 3.6rem;
         margin-bottom: 1rem;
         a{
            color:$t_color;
            &:hover{
               color:$p_color;
            }
         }
      }
      .ic-product-item-price{
         font-size:3.6rem;
         line-height: 3rem;
         margin-bottom: 3rem;
      }
      .ic-product-short-specification{
         margin-bottom: 3rem;
         .ic-total-cost{
            color:$p_color;
            font-weight: 700;
            span{
               font-weight: 700;
            }
         }
      }
      .ic-btn{
         min-height: 4.3rem;
         line-height: 4.3rem;
         &.ic-custom-btn-rvs,
         &.ic-custom-btn{
            @include translateY(0);
         }
      }
      .ic-modal-close{
         height:4.5rem;
         width:4.5rem;
         border-radius: 100%;
         background: $t_color;
         color:$p_color;
         line-height: 4.5rem;
         cursor: pointer;
         font-size: 2.4rem;
         text-align: center;
         &:hover{
            background: $p_color;
            color:#fff;
         }
      }
   }
}

/*------- * Quickview Modal -------*/
#ic-quickview-modal{
   .ic-modal-content {
      background: transparent;
   }
   .ic-modal-close{
      position: absolute;
      right:3rem;
      top:3rem;
   }
   .ic-quickview-content{
      background: #fff;
      padding: 4rem;
      border-radius: 3rem;
   }

   .ic-product-item-dec{
      ul{
         list-style: none;
         line-height: 2rem;
         li{
            display: inline-block;
            color: $p_color;
            margin: 0 .5rem;
            position: relative;
            line-height: 2.2rem;
            text-transform: uppercase;
            &:not(:last-child):before{
               background-color: $p_color;
               content: "";
               height: 2px;
               position: absolute;
               right: -10px;
               top: 9px;
               width: 6px;
            }
            &:first-child{
               margin-left: 0;
            }
         }
      }
   }

   .ic-product-item-title{
      font-size:2.4rem;
      line-height: 3.6rem;
      margin-bottom: 1rem;
      a{
         color:$t_color;
         &:hover{
            color:$p_color;
         }
      }
   }
   .ic-product-item-price{
      font-size:2.4rem;
      line-height: 3rem;
      margin-bottom: 3rem;
   }

   .ic-product-short-specification{
      margin-bottom: 3rem;
      .ic-total-cost{
         color:$p_color;
         font-weight: 700;
         span{
            font-weight: 700;
         }
      }
   }

   .ic-product-wishlist{
      width:4.4rem;
      height: 4.4rem;
      line-height: 4.4rem;
      border:1px solid $p_color;
      border-radius: 100%;
      text-align: center;
      color:$p_color;
      display: inline-block;
      margin-left: 1rem;
      i{
         font-size: 2.4rem;
         line-height: 4.4rem;
      }
      &:hover{
         background: $p_color;
         color:#fff;
         box-shadow: $button_shadow;
      }
   }

   .ic-product-opt{
      overflow: hidden;
      .ic-product-opt-title{
         float: left;
         font-weight: 500;
         margin-right: 2rem;
         line-height: 2.2rem;
      }
      .ic-opts-list{
         list-style: none;
         margin: 0;
         li{
            display: inline-block;
            margin-right: .5rem;

         }
         &.ic-opts-color {
            display: inline-block;
            margin-left: 23px;
            top: 1px;
            position: relative;
            li {
               position: relative;
               float: left;
               margin: 0 10px 0 0;

               input {
                  width: 18px;
                  height: 22px;
                  border-width: 2px;
                  vertical-align: top;
                  position: absolute;
                  z-index: 1;
                  border-radius: 50%;
                  opacity: 0;
                  cursor: pointer;

                  &:hover+.ic-product-color{
                     box-shadow: $black_shadow;
                  }
                  &:checked+.ic-product-color::after{
                     opacity: 1;
                  }
               }
               .ic-product-color::after{
                  font-family: IcoFont;
                  content:"\eed6";
                  position: absolute;
                  top:0;
                  left: 0;
                  width: 18px;
                  height: 18px;
                  line-height: 20px;
                  text-align: center;
                  font-size: 16px;
                  color:#fff;
                  opacity: 0;
                  @include transition();
               }
               .ic-product-color {
                  position: relative;
                  display: inline-block;
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                  @include transition();
               }
            }
         }
         &.ic-opts-size{
            line-height: 2.2rem;
            li{
               font-weight: 500;
               color:$t_color;
               margin-right: 1rem;
               a{
                  color:$t_color;
               }
            }
            li.active{
               text-decoration: underline;
               color:$p_color;
               a{
                  text-decoration: underline;
                  color:$p_color;
               }
            }
         }
      }
   }

   .ic-product-opt-group{
      @include flexbox();
      @include align-items(center);
      .ic-product-opt{
         margin-right: 4rem;
      }
   }
   .ic-single-action-btns{
      @include flexbox();
      margin-top: 3rem;
   }
   .ic-custom-btn-rvs{
      min-height: 4.3rem;
      line-height: 4.3rem;
      &:hover{
         @include translateY(0);
      }
   }
   .ic-product-gallery-single {
      box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.05);
      margin-bottom: 2rem;
   }
   .ic-product-gallery-thumbs{
      .slick-slide{
         img{
            padding:0 .5rem;
            width:100%;
         }
      }
      .slick-prev,
      .slick-next {
         width:2rem;
         left: -2rem;
         &:after{
            content: "\eac9";
            font-family: IcoFont;
            position: absolute;
            left: 50%;
            @include translateX(-50%);
            font-size: 3rem;
            color:#fff;
         }
      }
      .slick-next{
         left:auto;
         right: -2rem;
         &:after{
            content: "\eaca";
         }
      }
   }
}
.ic-modal-btn{
   cursor: pointer;
}
.ic-modal{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   width: 100%;
   height: 100%;
   overflow: hidden;
   outline: 0;
   visibility: hidden;
   opacity: 0;
   @include transition(all, .4s);
   .ic-modal-dialog {
      @include flexbox();
      @include align-items(center);
      min-height: calc(100% - 4rem);
      max-width: 100%;
      margin: 2rem auto;
      position: relative;
      pointer-events: none;
   }
   .ic-modal-content {
      position: relative;
      @include flexbox();
      @include flex-direction(column);
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      outline: 0;
   }
   @media (min-width: 576px){
      .ic-modal-dialog {
         min-height: calc(100% - 4rem);
      }
   }
   &.ic-modal-show{
      opacity: 1;
      visibility: visible;
   }
   .ic-modal-close{
      color:$p_color;
      cursor: pointer;
      font-size: 2.4rem;
      z-index: 1;
      &:hover{
         @include rotate(180);
      }
   }
}
.ic-modal-open{
   overflow: hidden;
   .ic-modal {
      overflow-x: hidden;
      overflow-y: auto;
   }
   &:after{
      content:"";
      position: fixed;
      height: 100%;
      width: 100%;
      top:0;
      left: 0;
      z-index: 999;
      background: rgba(0,0,0, .4);
   }
}
